{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "rules": {
      "@typescript-eslint/naming-convention": "off"
    },
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "extends": [
      "airbnb",
      "airbnb-typescript",
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ]
  }